In [1]:
import pandas as pd
import numpy as np

## Data import e calcolo della media dei voti

In [2]:
df_grades = pd.read_csv('Algoritmo_prova.txt', header= None, skiprows=1, delim_whitespace=True)
print(df_grades)

           0          1   2   3   4
0      Emily     Morris  27  22  27
1      Maria     Choute  24  18  21
2      Maura       Lara  27  22  18
3     Daniel   Falgoust  28  29  24
4  Henrietta       Kaul  27  29  30
5      Devin        Lee  23  21  27
6       Anne     Ortega  21  24  23
7     Robert  Wasserman  29  28  21
8        Sue    Csaszar  21  25  25
9    Rebecca    Lachner  23  30  30

In [5]:
num_sum = df_grades.sum(numeric_only=True, axis=1)
#num_sum

In [6]:
df_grades['mean'] = num_sum/((df_grades.shape[1]-2))
df_grades['mean'] = np.round(df_grades['mean'], decimals=2)
print(df_grades)

           0          1   2   3   4   mean
0      Emily     Morris  27  22  27  25.33
1      Maria     Choute  24  18  21  21.00
2      Maura       Lara  27  22  18  22.33
3     Daniel   Falgoust  28  29  24  27.00
4  Henrietta       Kaul  27  29  30  28.67
5      Devin        Lee  23  21  27  23.67
6       Anne     Ortega  21  24  23  22.67
7     Robert  Wasserman  29  28  21  26.00
8        Sue    Csaszar  21  25  25  23.67
9    Rebecca    Lachner  23  30  30  27.67

In [7]:
df_grades.columns

Index([0, 1, 2, 3, 4, 'mean'], dtype='object')

In [22]:
#Sub dataframe with the needed columns
df = df_grades[[0, 1, 'mean']]
df

           0          1   mean
0      Emily     Morris  25.33
1      Maria     Choute  21.00
2      Maura       Lara  22.33
3     Daniel   Falgoust  27.00
4  Henrietta       Kaul  28.67
5      Devin        Lee  23.67
6       Anne     Ortega  22.67
7     Robert  Wasserman  26.00
8        Sue    Csaszar  23.67
9    Rebecca    Lachner  27.67

In [28]:
df['mean']

0    25.33
1    21.00
2    22.33
3    27.00
4    28.67
5    23.67
6    22.67
7    26.00
8    23.67
9    27.67
Name: mean, dtype: float64

In [23]:
#ARRAY
df_arr = df.to_numpy()
print(df_arr)

[['Emily' 'Morris' 25.33]
 ['Maria' 'Choute' 21.0]
 ['Maura' 'Lara' 22.33]
 ['Daniel' 'Falgoust' 27.0]
 ['Henrietta' 'Kaul' 28.67]
 ['Devin' 'Lee' 23.67]
 ['Anne' 'Ortega' 22.67]
 ['Robert' 'Wasserman' 26.0]
 ['Sue' 'Csaszar' 23.67]
 ['Rebecca' 'Lachner' 27.67]]

## Algorithms

### Mergesort

In [ ]:
def merge(L, R, arr):
    i, j, k = 0, 0, 0
    L = arr[:mid]
    R = arr[mid:]
    while i < len(L) and j < len(R):
        if L[i] <= R[j]:
            arr[k] = L[i]
            i += 1
        else:
            arr[k] = R[j]
            j += 1
        k += 1
 
 # Checking if any element was left
    while i < len(L):
        arr[k] = L[i]
        i += 1
        k += 1
 
    while j < len(R):
        arr[k] = R[j]
        j += 1
        k += 1


def merge_sort(arr):
    if len(L) < 2:
        return L[:]
    else:
        middle = len(arr)//2
        left = merge_sort(arr[:middle])
        right = merge_sort(arr[middle:])
        return merge(left, right, arr)