# 7. Theoretical question

In [65]:
import pandas as pd
import numpy as np

In [66]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [67]:
import os
os.chdir('/content/drive/MyDrive/ADM_HW_3')

## Data Import

In [68]:
df_grades = pd.read_csv('ApplicantsInfo.txt', header= None, skiprows=1, delim_whitespace=True)
#print(df_grades)

In [69]:
num_sum = df_grades.sum(numeric_only=True, axis=1)
#num_sum

In [70]:
#Function to calculate the mean and add the column to the dataframe

df_grades['mean'] = num_sum/((df_grades.shape[1]-2))
df_grades['mean'] = np.round(df_grades['mean'], decimals=2)
df_grades.head(10)

,0,1,2,3,4,5,6,7,8,9,...,993,994,995,996,997,998,999,1000,1001,mean
0,Richard,Scott,23,26,30,29,27,26,19,27,...,26,28,27,26,29,23,19,28,20,23.83
1,Paula,Ahmadi,22,30,23,30,18,25,21,22,...,30,27,28,29,25,19,28,28,30,24.02
2,Arthur,Richardson,20,24,24,23,19,22,20,20,...,18,24,27,24,21,25,21,28,28,23.77
3,Vonda,Duncan,24,21,28,20,25,19,25,27,...,30,25,22,26,22,21,24,27,30,24.20
4,Stephanie,Ibrahim,22,28,18,24,27,29,21,25,...,29,24,24,22,18,18,22,19,30,24.05
5,Francis,Lomax,19,22,29,29,24,19,18,19,...,18,19,30,30,30,29,25,23,27,23.94
6,Edna,Walbridge,27,30,26,26,28,18,27,29,...,29,18,22,23,20,19,26,22,18,24.15
7,Ruth,Ortega,29,30,24,22,28,29,22,24,...,18,28,20,30,29,30,21,21,21,23.78
8,Carla,Frazier,23,27,22,26,29,23,23,21,...,28,24,18,20,23,27,22,21,18,23.95
9,Edwin,Borders,26,28,25,18,24,27,28,30,...,23,20,19,25,24,21,30,21,18,23.90

In [71]:
#To create a sub dataframe with the needed columns
s_df = df_grades[[0, 1, 'mean']]
s_df.head(10)

           0           1   mean
0    Richard       Scott  23.83
1      Paula      Ahmadi  24.02
2     Arthur  Richardson  23.77
3      Vonda      Duncan  24.20
4  Stephanie     Ibrahim  24.05
5    Francis       Lomax  23.94
6       Edna   Walbridge  24.15
7       Ruth      Ortega  23.78
8      Carla     Frazier  23.95
9      Edwin     Borders  23.90

In [72]:
#To convert the dataframe to a numpy array
df_arr = s_df.to_numpy()
print(df_arr)

[['Richard' 'Scott' 23.83]
 ['Paula' 'Ahmadi' 24.02]
 ['Arthur' 'Richardson' 23.77]
 ...
 ['Jaime' 'Thiele' 23.91]
 ['Agnes' 'Lee' 24.11]
 ['Sonia' 'Kent' 23.9]]

## Algorithms

### Selectionsort

**Selection sort** is a sorting algorithm that selects the smallest element from an unsorted list in each iteration and places that element at the beginning of the unsorted list.

In [76]:
def selection_sort(arr):
  #We give the indexes of the columns  
    first_name = 0
    last_name = 1
    mean = 2
    
    #Iteration over the lenght of the array
    for i in range(len(arr)):
      #To set the min index
        min_ind = i
        
        #This works over the rest of the array oder the index
        for element in range(i+1, len(arr)):
          #To select the minimum element in each iteartion
          if arr[element][mean] > arr[min_ind][mean] or arr[element][mean] == arr[min_ind][mean] and arr[element][first_name] < arr[min_ind][first_name]:
            min_ind = element  

        arr[i], arr[min_ind] = arr[min_ind], arr[i].copy()    #To set the index at the correct position and swaps the elements to sort the array
                                                              #We create a copy of the existing array in order to not modify it
        
    return arr     #This returns the sorted array

In [77]:
%%time
SelectionSort_arr = selection_sort(df_arr)
print(SelectionSort_arr)

[['Emily' 'Crispin' 24.49]
 ['Patricia' 'Witten' 24.49]
 ['Doreen' 'Richmond' 24.45]
 ...
 ['Justin' 'Williams' 23.55]
 ['Bruce' 'Murphy' 23.54]
 ['Mary' 'Thompson' 23.51]]
CPU times: user 23min 10s, sys: 3.44 s, total: 23min 13s
Wall time: 23min 31s

In [78]:
#creation of the txt file
SelectionSort_df = pd.DataFrame(SelectionSort_arr)
SelectionSort_df.to_csv(r'RankingList_SS.txt', header=None, index=None, sep=' ', mode='a')

#### **Time Complexity**
In the selection sort algorithm the principle is to reduce by one the number of comparisons at each iteration.  
at the first step, the number of comparisons is n-1. At the second the algorithm has to scan a shorter array, and so on, until the array has a length of one. 

$\ (n-1)+(n-2)+...+1 $= $\sum\limits_{i=0}^{n-1} i$

This is an arithmetic progession:

$\sum_{i=0}^{n-1} i$ = $\sum_{j=i+1}^{n} j$

and converges to $\frac{n(n-1)}{2}$

Hence, our sorting algorithm has polynomial complexity.

**$\Theta(n)$ = $\ n^2$**

### Mergesort

**Merge Sort** is a sorting algorithm that is based on the principle of Divide and Conquer (Divide et Impera), which divides the problem into subproblems. When the solution to each subproblem is ready, it 'combines' the results from the subproblems to solve the main problem.

In [73]:

def merge_sort(arr):
  #Give the indexes of the columns
    first_name = 0
    last_name = 1
    mean = 2
       
    if len(arr) > 1:
        mid = len(arr)//2         #This is the point where the array is divided in half
        L = arr[:mid].copy()      #We define the Left and Right halves, creating a copy of the existing array in order to not modify it
        R = arr[mid:].copy()
        merge_sort(L)             #Sort the two halves
        merge_sort(R)
        
        i = j = k = 0
        
        #Until we reach either end of either L or R, this picks the largest elements among
        #L and R and places them in the correct position into the array

        while (i < len(L) and j < len(R)):
          if L[i][mean] < R[j][mean] or L[i][mean] == R[j][mean] and L[i][first_name] > R[j][first_name]:
            arr[k] = R[j]
            j += 1
          else: 
            arr[k] = L[i]
            i += 1 
          k += 1
       #When we run out of elements in either L or R, this
       #picks up the remaining elements and put into the array

        if i >= len(L):
          arr[k:] = R[j:]
        else:
          arr[k:] = L[i:]
        
    return arr                #To return the sorted array

In [74]:
%%time
mergeSort_arr = merge_sort(df_arr)
print(mergeSort_arr)

[['Emily' 'Crispin' 24.49]
 ['Patricia' 'Witten' 24.49]
 ['Doreen' 'Richmond' 24.45]
 ...
 ['Justin' 'Williams' 23.55]
 ['Bruce' 'Murphy' 23.54]
 ['Mary' 'Thompson' 23.51]]
CPU times: user 1.75 s, sys: 8.04 ms, total: 1.75 s
Wall time: 1.76 s

In [75]:
#creating the txt file
mergeSort_df = pd.DataFrame(mergeSort_arr)
mergeSort_df.to_csv(r'RankingList_MS.txt', header=None, index=None, sep=' ', mode='a')

### **Time Complexity**
if n is the length of the array the function T(n) of our algorithm is given by the sum of: 
- $\ T(n/2)$ for the left array

- $\ T(n/2)$ for the right array

- $\ T(n)$ 

The algorithm is indeed applied to the two arrays of half the length of the original one and requires the merge operation (n iterations).

Hence: 

**$\Theta(n)$ = $\ nlog(n)$**

### **Quicksort**

**Quicksort** is a sorting algorithm based on the divide and conquer approach.

As a first thing, the array is divided into subarrays by selecting a pivot element, which is an element selected from the array.

Then, while dividing the array, the pivot element should be positioned in a way that elements smaller than pivot are kept on the left side, and elements greater than pivot are on the right side.

Then, left and right subarrays are also divided using the same approach. This process continues until each subarray contains a single element, which is considered already sorted.

Finally, elements are combined and the sorted array is formed.

In [79]:
def quick_sort(arr):
  #Give the indexes of the two columns
  first_name = 0
  last_name = 1
  mean = 2
    
  #Base case
  if len(arr) < 2:
    return arr
    
    current_position = 0            #Position of the partitioning element

    for i in range(1, len(arr)):     #Partitioning loop
         if arr[i][mean] <= arr[0][mean] or arr[i][mean] == arr[0][mean] and arr[i][first_name] > arr[0][first_name]:   #Requested condition over the mean and first name
              current_position += 1
              temp = arr[i]
              arr[i] = arr[current_position]
              arr[current_position] = temp

    temp = arr[0]
    arr[0] = arr[current_position] 
    arr[current_position] = temp              #Brings pivot to the appropriate position
    
    left = quick_sort(arr[0:current_position].copy())                #Sorts the elements to the left of pivot
    right = quick_sort(arr[current_position+1:len(arr)].copy())      #Sorts the elements to the right of pivot
    #We create a copy of the existing array in order to not modify it

    arr = left + [arr[current_position]] + right                      #Merging everything together
    
    return arr                 #To return the sorted array

In [84]:
%%time
quickSort_arr = quick_sort(df_arr)
print(quickSort_arr)

[['Emily' 'Crispin' 24.49]
 ['Patricia' 'Witten' 24.49]
 ['Doreen' 'Richmond' 24.45]
 ...
 ['Justin' 'Williams' 23.55]
 ['Bruce' 'Murphy' 23.54]
 ['Mary' 'Thompson' 23.51]]
CPU times: user 631 µs, sys: 3 µs, total: 634 µs
Wall time: 642 µs

In [81]:
#creating the txt file
quickSort_df = pd.DataFrame(quickSort_arr)
quickSort_df.to_csv(r'RankingList_QS.txt', header=None, index=None, sep=' ', mode='a')

### **Time Complexity**

In the worst case(the pivot element is either the greatest or the smallest element in the array) the partition process is "extremely" unbalanced (one sub-array has n-1 elemtent and the other 0). If this unbalanced partitioning arises at each recursive call: 
$\ T(n) = T(n-1) +c*n$

Hence 
$\Theta(n)$ = $\ n^2$

#### What is the most optimal algorithm, in your opinion, and why?

With this particular dataset, the best algorithm (according to the computational time) is the quicksort algorithm. In theory, the mergesort should be the fastest since $\Theta(n)$ = $\ nlog(n)$ for it. Not surprisingly its computational time is still low. 
In practice, the quick sort algorithm performs better. We suppose this is due to the fact that our dataset does not put the algorithm in the worst case.